/* Para aplicar a todo el html */

$padding-all: 0;
$margin-all: 0;
$color-background-all: #000000;

/* grid container pagina en general*/

$alt-max-grid: 75rem;
$ancho-max-grid: 100%;
$gap-columna-grid: 0;
$gap-fila-grid: 0.3125rem;

/* header generalidades */

$alto-logo-nav: 3.125rem;
$altura-logoStyle: fit-content;
$justify-logo: stretch;

/* navegador generalidades */

$alineacion-nav: stretch;
$margen-izq-der-nav: 0.125;
$margen-top-nav: 0.9375;
$borde-nav:0;

/*otros*/

$ancho-cien: 100%;